<!-- <nav>
  <div class="navbar">
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/login" >Login</a>
      <a routerLink="/register">Register</a>
  </div>
</nav> -->



<!-- <nav>
  <div class="navbar">
      <a routerLink="/dashboard">Dashboard</a>
      <ng-container *ngIf="!isLoggedIn(); else loggedIn">
          <a routerLink="/login">Login</a>
      </ng-container>
      <ng-template #loggedIn>
          <button (click)="logout()">Logout</button>
      </ng-template>
      <a routerLink="/register">Register</a>
  </div>
</nav> -->


<nav class="bg-primary p-4">
  <div class="navbar flex items-center justify-between">
    <!-- Logo -->
    <div class="flex items-center">
      <img src="../../assets/img1.png" alt="Logo"/> <!-- Adjust the image source and size -->
    </div>
    
    <!-- Mobile Menu Icon -->
    <div class="lg:hidden">
      <button (click)="toggleMobileMenu()" class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>

    <!-- Links in Main Navbar -->
    <div class="hidden lg:flex items-center space-x-80">
      <a routerLink="/dashboard" class="text-white">Dashboard</a>
      <ng-container *ngIf="!isLoggedIn(); else loggedIn">
        <a routerLink="/login" class="text-white">Login</a>
        <a routerLink="/register" class="text-white">Register</a>
      </ng-container>
      <ng-template #loggedIn>
        <button (click)="logout()" class="btn btn-outline">Logout</button>
      </ng-template>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="isMobileMenuOpen" class="lg:hidden">
    <a routerLink="/dashboard" class="block p-2 text-white">Dashboard</a>
    <a *ngIf="!isLoggedIn()" routerLink="/login" class="block p-2 text-white">Login</a>
    <a *ngIf="!isLoggedIn()" routerLink="/register" class="block p-2 text-white">Register</a>
    <button (click)="logout()" class="btn btn-outline block p-2">Logout</button>
  </div>
</nav>
